/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    padding: 0;
    font-size: 15px;
    height: 50px;
    transition: all 0.5s;
    background: rgba(26, 24, 22, 0.8);
    z-index: 996;
    color: rgba(255, 255, 255, 0.7);
}

#topbar.topbar-transparent {
    background: transparent;
}

#topbar.topbar-scrolled {
    top: -50px;
}

#topbar i {
    color: #ffb03b;
    line-height: 0;
}

#topbar i span {
    color: #fff;
    font-style: normal;
    padding-left: 5px;
}
